
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/style3.css" asp-append-version="true" />

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />


    <link rel="stylesheet" href="./HOME.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Saira Condensed:wght@200;400;700&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap" />
</head>
<body>
    <div class="home5">
        <div class="home-inner">
            <div class="group-child13"></div>
        </div>
        <div class="frame-parent">
            <div class="rectangle-parent4">
                <div class="frame-child"></div>
                <b class="are-you-ready-container">
                    <p class="are-you-ready">Are you ready to</p>
                    <p class="are-you-ready">get in shape?</p>
                </b>
            </div>
            <div class="being-physically-active">
                Being physically active can improve your brain health, help manage
                weight, reduce the risk of disease, strengthen bones and muscles, and
                improve your ability to do everyday activities.
            </div>
            <div class="join-now-wrapper">
                <b class="join-now">Join now</b>
            </div>
        </div>
        <img src="~/images/rectangle-3@2x.png" class="home-child" alt="" />

        <div class="home-item"></div>
        <img src="~/images/rectangle-311@2x.png" class="rectangle-icon" alt="" />

        <b class="empower-yourself-achieve-container1">
            <p class="are-you-ready">Empower Yourself</p>
            <p class="are-you-ready">Achieve More</p>
            <p class="gear-up-now1">
                <span>Gear Up Now</span>
                <span class="span14">! </span>
            </p>
        </b>
        <img src="~/images/image-93@2x.png" class="image-128-icon" alt="" />

        <div class="powermax-fitness-gh-450p-multi-container">
            <div class="powermax-fitness-gh-450p4">
                PowerMax Fitness GH-450P Multi Function Home Gym/Multi Gym With Punching Bag
            </div>
        </div>
        <div class="div23">
            <span>$</span>
            <span class="span15"> </span>
            <span>469.00</span>
        </div>
        <img src="~/images/image-96@2x.png" class="image-129-icon2" alt="" />

        <div class="powermax-fitness-gh-450p5">
            PowerMax Fitness GH-450P Multi Function Home Gym/Multi Gym With Punching Bag
        </div>
        <div class="div24">
            <span>$</span>
            <span class="span15"> </span>
            <span>469.00</span>
        </div>
        <img src="~/images/image-118@2x.png" class="image-130-icon" alt="" />

        <div class="powermax-fitness-gh-450p6">
            PowerMax Fitness GH-450P Multi Function Home Gym/Multi Gym With Punching Bag
        </div>
        <div class="div25">
            <span>$</span>
            <span class="span15"> </span>
            <span>469.00</span>
        </div>
        <img src="~/images/image-116@2x.png" class="image-131-icon" alt="" />

        <div class="div26">
            <span>$</span>
            <span> 469.00 </span>
        </div>
        <div class="powermax-fitness-gh-450p7">
            PowerMax Fitness GH-450P Multi Function Home Gym/Multi Gym With Punching Bag
        </div>
    </div>
</body>
</html>

