@model Auth_Login.Models.UserLogin
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<html>
<head>

    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="login">
        <h1>Login In</h1>

        <form method="post" enctype="multipart/form-data" asp-controller="HomeController1" asp-action="Login">
            <p>Enter Your Email</p>
            <p><input type="text" name="Email" value="" placeholder="Email" required></p>
            <p>Enter Your Password </p>
            <p><input type="password" name="Password" value="" placeholder="Password" required></p>
            <p class="submit">
                <a href="">
                    <input type="submit" name="commit" value="Login">
                </a>
            </p>

            <hr />
            @ViewBag.username
        </form>
    </div>
</body>
</html>

