<link rel="stylesheet" href="~/css/style5.css" asp-append-version="true"  />
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./check-out.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Saira Condensed:wght@200;400&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap" />
</head>
<body>
    <div class="check-out">
        <div class="shipping-address">Shipping Address</div>
        <div class="we-love-hearing-container">
            <span class="we-love-hearing-container1">
                <p class="we-love-hearing">
                    We love hearing from you, our Shop customers.
                </p>
                <p class="we-love-hearing">
                    Please contact us and we will make sure to get back to you as soon
                    as we possibly can.
                </p>
            </span>
        </div>
        <div class="component-31">
            <div class="component-31-child"></div>
            <img src ="~/images/frame-97@2x.png" class="component-31-item" alt="" />

            <div class="your-name-container">
                <span class="we-love-hearing-container1">
                    <span class="span3">First Name </span>
                    <input type="text" placeholder="First Name" />
                 </span>
            </div>
            </div>

        <div class="component-35">
            <div class="component-31-child"></div>
            <img src="~/images/frame-97@2x.png" class="component-31-item" alt="" />

            @* <div class="your-name-container">
                <span class="we-love-hearing-container1">
                    <span>Government </span>
                    <span class="span3">*</span>
                </span>
            </div>
            <div class="your-name">Your Government</div> *@
            <div class="your-name-container">
                <span class="we-love-hearing-container1">
                    <span class="span3">Government</span>
                    <input type="text" placeholder="Government" />
                    
                </span>
            </div>
            @* <div class="your-name">Your Government</div> *@

        </div>
        <div class="component-34">
            <div class="component-31-child"></div>
            <img src="~/images/frame-97@2x.png" class="component-31-item" alt="" />

            @* <div class="your-name-container">
                <span class="we-love-hearing-container1">
                    <span>Last Name </span>
                    <span class="span3">*</span>
                </span>
            </div>
            <div class="your-name">Your Last Name</div> *@

            <div class="your-name-container">
                <span class="we-love-hearing-container1">
                    <span class="span3">Last Name</span>
                    <input type="text" placeholder="Last Name" />
                    </span>
            </div>
            @* <div class="your-name">Last Name</div> *@

        </div>
        <div class="component-36">
            <div class="component-31-child"></div>
            <img src="~/images/frame-97@2x.png" class="component-31-item" alt="" />

            @* <div class="your-name-container">
                <span class="we-love-hearing-container1">
                    <span>City </span>
                    <span class="span3">*</span>
                </span>
            </div>
            <div class="your-name">Your City</div> *@
            <div class="your-name-container">
                <span class="we-love-hearing-container1">
                    <span class="span3">City</span>
                    <input type="text" placeholder="City" />
                   
                </span>
            </div>
            @* <div class="your-name">Your City</div> *@

        </div>
        <div class="component-33">
            <div class="component-31-child"></div>
            <img src="~/images/frame-97@2x.png" class="component-31-item" alt="" />

            @* <div class="your-name-container">
                <span class="we-love-hearing-container1">
                    <span>Phone Number</span>
                    <span class="span7">*</span>
                </span>
            </div>
            <div class="your-name">Your Phone Number</div> *@
            <div class="your-name-container">
                <span class="we-love-hearing-container1">
                    <span class="span7">Phone Number</span>
                    <input type="number" placeholder="Phone Number" />
                </span>
            </div>
            @* <div class="your-name">Your Phone Number</div> *@

        </div>
        <div class="component-37">
            <div class="component-31-child"></div>
            <img src="~/images/frame-97@2x.png" class="component-37-item" alt="" />

                @* <div class="your-phone-number-container2">
                    <span class="we-love-hearing-container1">
                        <span>Street </span>
                        <span class="span7">*</span>
                    </span>
                </div>
                <div class="your-name">Your Street</div> *@
            <div class="your-phone-number-container2">
                <span class="we-love-hearing-container1">
                    <span class="span7">Street</span>
                    <input type="text" placeholder="Street" />
                   </span>
            </div>
            @* <div class="your-name">Your Street</div> *@
        </div>

        <a href="/Home/thankyou">
        <div class="rectangle-parent7" id="groupContainer">
            <div class="group-child13"></div>
            <div class="submit">Submit</div>
        </div>
        </a>
       @*  <div class="save-this-information-for-next-parent">
            <div class="save-this-information">
                Save this information for next time
            </div>
            <div class="please-fill-all">* Please fill all the required fields</div>
            <div class="group-child14"></div>
        </div> *@
        <a href="/Home/Equipment">
        <div class="return-to-shopping">&lt; Return to Shopping</div>
        </a>
        <div class="check-out-inner">
            <div class="subtotal-parent">
                <div class="subtotal2">Subtotal</div>
                <div class="shipping1">Shipping</div>
                <div class="tax1">Tax</div>
                <div class="gst-101">GST (10%)</div>
                <div class="order-total1">Order Total</div>
                <div class="div15">$650</div>
                <div class="div16">$21.00</div>
                <div class="div17">$1.91</div>
                <div class="div18">$1.91</div>
                <div class="div19">$667.83</div>
                @* <div class="standard-rate-1">
                    (Standard Rate - Price may vary depending on the item/destination.
                    Shop Staff will contact you.)
                </div> *@
            </div>
        </div>
        <div class="order-summary">Order Summary</div>
        <div class="items-in-cart">1 Items in Cart</div>
        <img src="~/images/frame-97.png" class="check-out-child" alt="" />

        <div class="check-out-inner1">
            <div class="qty-1-parent">
                <div class="qty-1">
                    <span>Qty </span>
                    <span class="span9">1</span>
                </div>
                <div class="div20">$30.00</div>
                <div class="sportq-cement-barbell2">
                    SportQ Cement Barbell Set Adjustable Weights Set Home
                </div>
                <img src="~/images/group-1060@2x.png" class="group-child15" alt="" />
            </div>
        </div>
       @*  <div class="check-out-inner2">
            <div class="qty-1-parent">
                <div class="qty-1">
                    <span>Qty </span>
                    <span class="span9">1</span>
                </div>
                <div class="div21">$680.00</div>
                <div class="sportq-cement-barbell2">
                    SportQ Cement Barbell Set Adjustable Weights Set Home
                </div>
                <div class="rectangle-parent8">
                    <div class="group-child16"></div>
                    <img src="~/images/image-129@2x.png" class="group-child15" alt="" />
                </div>
            </div>
        </div> *@
        <div class="component-16-container">
            <div class="component-161">
                <div class="component-16-item"></div>
                <div class="instance-group">
                    <div class="frame-div">
                        <img src="~/images/support.png" class="support-icon3" alt="" />

                        <img src="~/images/account.png" class="account-icon3" alt="" />

                        <img src="~/images/saving.png" class="account-icon3" alt="" />

                        <div class="product-support-group">
                            <b class="product-support1">Product Support</b>
                            <div class="up-to-31">
                                Up to 3 years on-site warranty available for your peace of
                                mind.
                            </div>
                        </div>
                    </div>
                    <div class="support-parent1">
                        <img src="~/images/support.png" class="account-icon3" alt="" />

                        <img src="~/images/account.png" class="support-icon3" alt="" />

                        <img src="~/images/saving.png" class="account-icon3" alt="" />

                        <div class="product-support-group">
                            <b class="product-support1">Personal Account</b>
                            <div class="up-to-31">
                                With big discounts, free delivery and a dedicated support
                                specialist.
                            </div>
                        </div>
                    </div>
                    <div class="support-parent2">
                        <img src="~/images/support.png" class="account-icon3" alt="" />

                        <img src="~/images/account.png" class="account-icon3" alt="" />

                        <img src="~/images/saving.png" class="support-icon3" alt="" />

                        <div class="product-support-group">
                            <b class="product-support1">Amazing Savings</b>
                            <div class="up-to-31">
                                Up to 70% off new Products, you can be sure of the best price.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="check-out-item"></div> *@
       @*  <b class="brave-stone">Brave Stone</b>
        <b class="home" id="homeText">Home</b>
        <b class="equipment">Equipment </b>
        <b class="sign-up" id="signUpText">Sign Up</b>
        <b class="login" id="loginText">Login</b>
        <b class="cart" id="cartText">Cart</b> *@
    @* </div> *@
        
    <script>
        var groupContainer = document.getElementById("groupContainer");
        if (groupContainer) {
            groupContainer.addEventListener("click", function (e) {
                // Please sync "Thank you" to the project
            });
        }

        var homeText = document.getElementById("homeText");
        if (homeText) {
            homeText.addEventListener("click", function (e) {
                window.location.href = "./equipment-category.html";
            });
        }

        var signUpText = document.getElementById("signUpText");
        if (signUpText) {
            signUpText.addEventListener("click", function (e) {
                // Please sync "Frame 251" to the project
            });
        }

        var loginText = document.getElementById("loginText");
        if (loginText) {
            loginText.addEventListener("click", function (e) {
                // Please sync "Frame 252" to the project
            });
        }

        var cartText = document.getElementById("cartText");
        if (cartText) {
            cartText.addEventListener("click", function (e) {
                // Please sync "Frame 252" to the project
            });
        }
    </script>
</body>
</html>
