

<link rel="stylesheet" href="~/css/style1.css" asp-append-version="true" />
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
@* 
    <link rel="stylesheet" href="./index.css" /> *@
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" />
</head>
<body>
    <div class="equipment-category">
        <div class="layout-2product-card-08">
            <img src="~/images/buttonbtnbasic.png" class="buttonbtn-basic-icon"
                 alt=""
                 />

            <div class="description">
                <div class="the-largest-apple-container">
                    <p class="lorem-ipsum-dolor">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod
                    </p>
                    <p class="lorem-ipsum-dolor">
                        tempor incididunt ut labore et dolore magna aliqua
                    </p>
                </div>
                <div class="link">View details</div>
            </div>
            <div class="title">
                SportQ Cement Barbell Set Adjustable Weights Set Home
            </div>
            <div class="price">
                <div class="text">$998.00</div>
                <div class="text1">$1128.00</div>
            </div>
            <div class="rectangle-parent">
                <div class="group-child"></div>
                <img src="~/images/image-126@2x.png" class="image-126-icon" alt="" />
            </div>
            <div class="free-shipping-parent">
                <div class="free-shipping">Free Shipping</div>
                <div class="dot"></div>
                <img src="~/images/miscrating.png" class="miscrating-icon" alt="" />

                <div class="bell-ross">7.5</div>
                <div class="bell-ross1">154 orders</div>
                <div class="dot1"></div>
            </div>
           @*  <img src="~/images/cart-vector.png" class="cart-vector-icon" alt="" /> *@
            <a href="/Home/Product" class="cart-vector-icon">
                <img src="~/images/cart-vector.png" alt="Cart" />
            </a>

            <img class="vector-icon" alt="" />
        </div>
        <div class="product-card-1" id="productCard1Container">
            <div class="layout-2product-card-081">
                <img src="~/images/buttonbtnbasic.png" class="buttonbtn-basic-icon"
                     alt=""
                      />

                <div class="description1">
                    <div class="the-largest-apple-container">
                        <p class="lorem-ipsum-dolor">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod
                        </p>
                        <p class="lorem-ipsum-dolor">
                            tempor incididunt ut labore et dolore magna aliqua
                        </p>
                    </div>
                    <div class="link">View details</div>
                </div>
                <div class="title">
                    SportQ Cement Barbell Set Adjustable Weights Set Home
                </div>
                <div class="price1">
                    <div class="text">$998.00</div>
                    <div class="text1">$1128.00</div>
                </div>
                <img src="~/images/group-1060@2x.png" class="layout-2product-card-08-child"
                     alt=""
                      />

                <div class="free-shipping-parent">
                    <div class="free-shipping">Free Shipping</div>
                    <div class="dot"></div>
                    <img src="~/images/miscrating.png" class="miscrating-icon" alt="" />

                    <div class="bell-ross">7.5</div>
                    <div class="bell-ross1">154 orders</div>
                    <div class="dot1"></div>
                </div>
               @*  <img src="~/images/cart-vector.png" class="cart-vector-icon" alt="" /> *@
                <a href="/Home/Product" class="cart-vector-icon">
                    <img src="~/images/cart-vector.png" alt="Cart" />
                </a>

                <img class="vector-icon" alt="" />
            </div>
        </div>
        <div class="product-card-11" id="productCard1Container1">
            <div class="layout-2product-card-081">
                <img src="~/images/buttonbtnbasic.png" class="buttonbtn-basic-icon"
                     alt=""
                      />

                <div class="description1">
                    <div class="the-largest-apple-container">
                        <p class="lorem-ipsum-dolor">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod
                        </p>
                        <p class="lorem-ipsum-dolor">
                            tempor incididunt ut labore et dolore magna aliqua
                        </p>
                    </div>
                    <div class="link">View details</div>
                </div>
                <div class="title1">
                    SportQ Cement Barbell Set Adjustable Weights Set Home
                </div>
                <div class="price1">
                    <div class="text">$998.00</div>
                    <div class="text1">$1128.00</div>
                </div>
                <div class="rectangle-parent">
                    <div class="group-child"></div>
                    <img src="~/images/image-128@2x.png" class="image-126-icon"
                         alt=""
                          />
                </div>
                <div class="free-shipping-parent">
                    <div class="free-shipping">Free Shipping</div>
                    <div class="dot"></div>
                    <img src="~/images/miscrating.png" class="miscrating-icon" alt="" />

                    <div class="bell-ross">7.5</div>
                    <div class="bell-ross1">154 orders</div>
                    <div class="dot1"></div>
                </div>
                @* <img src="~/images/cart-vector.png" class="cart-vector-icon" alt="" /> *@
                <a href="/Home/Product" class="cart-vector-icon">
                    <img src="~/images/cart-vector.png" alt="Cart" />
                </a>

                <img class="vector-icon" alt="" />
            </div>
        </div>
        <div class="product-card-12" id="productCard1Container2">
            <div class="layout-2product-card-081">
                <img src="~/images/buttonbtnbasic.png" class="buttonbtn-basic-icon"
                     alt=""
                      />

                <div class="description1">
                    <div class="the-largest-apple-container">
                        <p class="lorem-ipsum-dolor">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod
                        </p>
                        <p class="lorem-ipsum-dolor">
                            tempor incididunt ut labore et dolore magna aliqua
                        </p>
                    </div>
                    <div class="link">View details</div>
                </div>
                <div class="title2">
                    SportQ Cement Barbell Set Adjustable Weights Set Home
                </div>
                <div class="price1">
                    <div class="text">$998.00</div>
                    <div class="text1">$1128.00</div>
                </div>
                <div class="rectangle-parent">
                    <div class="group-child"></div>
                    <img src="~/images/image-129@2x.png" class="image-126-icon"
                         alt=""
                          />
                </div>
                <div class="free-shipping-parent">
                    <div class="free-shipping">Free Shipping</div>
                    <div class="dot"></div>
                    <img src="~/images/miscrating.png" class="miscrating-icon" alt="" />

                    <div class="bell-ross">7.5</div>
                    <div class="bell-ross1">154 orders</div>
                    <div class="dot1"></div>
                </div>
               @*  <img src="~/images/cart-vector.png" class="cart-vector-icon" alt="" /> *@
                <a href="/Home/Product" class="cart-vector-icon">
                    <img src="~/images/cart-vector.png" alt="Cart" />
                </a>

                <img class="vector-icon" alt="" />
            </div>
        </div>
        <div class="product-card-13" id="productCard1Container3">
            <div class="layout-2product-card-081">
                <img src="~/images/buttonbtnbasic.png" class="buttonbtn-basic-icon"
                     alt=""
                      />

                <div class="description1">
                    <div class="the-largest-apple-container">
                        <p class="lorem-ipsum-dolor">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod
                        </p>
                        <p class="lorem-ipsum-dolor">
                            tempor incididunt ut labore et dolore magna aliqua
                        </p>
                    </div>
                    <div class="link">View details</div>
                </div>
                <div class="title2">
                    SportQ Cement Barbell Set Adjustable Weights Set Home
                </div>
                <div class="price1">
                    <div class="text">$998.00</div>
                    <div class="text1">$1128.00</div>
                </div>
                <div class="rectangle-parent">
                    <div class="group-child"></div>
                    <img class="image-118-icon"
                         alt=""
                         src="~/images/image-118@2x.png" />
                </div>
                <div class="free-shipping-parent">
                    <div class="free-shipping">Free Shipping</div>
                    <div class="dot"></div>
                    <img src="~/images/miscrating.png" class="miscrating-icon" alt="" />

                    <div class="bell-ross">7.5</div>
                    <div class="bell-ross1">154 orders</div>
                    <div class="dot1"></div>
                </div>
                @* <img src="~/images/cart-vector.png" class="cart-vector-icon" alt="" /> *@
                <a href="/Home/Product" class="cart-vector-icon">
                    <img src="~/images/cart-vector.png" alt="Cart" />
                </a>

                <img class="vector-icon" alt="" />
            </div>
        </div>
        <div class="layout-2product-card-085">
            <img src="~/images/buttonbtnbasic.png" class="buttonbtn-basic-icon"
                 alt=""
                  />

            <div class="description1">
                <div class="the-largest-apple-container">
                    <p class="lorem-ipsum-dolor">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod
                    </p>
                    <p class="lorem-ipsum-dolor">
                        tempor incididunt ut labore et dolore magna aliqua
                    </p>
                </div>
                <div class="link">View details</div>
            </div>
            <div class="title2">
                SportQ Cement Barbell Set Adjustable Weights Set Home
            </div>
            <div class="price1">
                <div class="text">$998.00</div>
                <div class="text1">$1128.00</div>
            </div>
            <div class="rectangle-parent">
                <div class="group-child"></div>
                <img src="~/images/image-116@2x.png" class="image-118-icon" alt="" />
            </div>
            <div class="free-shipping-parent">
                <div class="free-shipping">Free Shipping</div>
                <div class="dot"></div>
                <img src="~/images/miscrating.png" class="miscrating-icon" alt="" />

                <div class="bell-ross">7.5</div>
                <div class="bell-ross1">154 orders</div>
                <div class="dot1"></div>
            </div>
          @*   <img src="~/images/cart-vector.png" class="cart-vector-icon" alt="" /> *@
            <a href="/Home/Product" class="cart-vector-icon">
                <img src="~/images/cart-vector.png" alt="Cart" />
            </a>

            <img class="vector-icon" alt="" />
        </div>
    </div>

    <script>
        var productCard1Container = document.getElementById("productCard1Container");
        if (productCard1Container) {
            productCard1Container.addEventListener("click", function (e) {
                // Please sync "Product" to the project
            });
        }

        var productCard1Container1 = document.getElementById("productCard1Container1");
        if (productCard1Container1) {
            productCard1Container1.addEventListener("click", function (e) {
                // Please sync "Product" to the project
            });
        }

        var productCard1Container2 = document.getElementById("productCard1Container2");
        if (productCard1Container2) {
            productCard1Container2.addEventListener("click", function (e) {
                // Please sync "Product" to the project
            });
        }

        var productCard1Container3 = document.getElementById("productCard1Container3");
        if (productCard1Container3) {
            productCard1Container3.addEventListener("click", function (e) {
                // Please sync "Product" to the project
            });
        }
    </script>
</body>
</html>
