<link rel="stylesheet" href="~/css/style2.css" asp-append-version="true" />

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./product.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Saira Condensed:wght@200;400&display=swap" />
</head>
<body>
    <div class="product">
        <div class="content-main-wrapper">
            <div class="content-main">
                <div class="content-main">
                    <div class="short-info">
                        <div class="short-info-child"></div>
                        <div class="warranty">
                            <div class="warranty1">Warranty:</div>
                            <div class="years-full-warranty">2 years full warranty</div>
                        </div>
                        <div class="protection">
                            <div class="protection1">Protection:</div>
                            <div class="refund-policy">Refund Policy</div>
                        </div>
                        <div class="customization">
                            <div class="customized-logo-and-container">
                                <p class="customized-logo-and">Customized logo and</p>
                                <p class="customized-logo-and">design custom packages</p>
                            </div>
                            <div class="customization1">Customization:</div>
                        </div>
                        <div class="design">
                            <div class="design1">Design:</div>
                            <div class="modern-nice">Modern nice</div>
                        </div>
                        <div class="material">
                            <div class="material1">Material:</div>
                            <div class="steel-material">steel material</div>
                        </div>
                        <div class="type">
                            <div class="type1">Type:</div>
                            <div class="classic-barbell">
                                <span class="classic">Classic </span>
                                <b>barbell</b>
                            </div>
                        </div>
                        <div class="price6">
                            <div class="price7">Price:</div>
                            <div class="negotiable">Negotiable</div>
                        </div>
                    </div>
                    <div class="trade-price">
                        <img class="trade-price-child"
                             alt=""
                             src="./public/rectangle-244.svg" />

                        <div class="text-parent">
                            <div class="text12">$98.00</div>
                            <div class="text13">50-100 pcs</div>
                        </div>
                        <div class="text-group">
                            <div class="text12">$90.00</div>
                            <div class="text15">100-700 pcs</div>
                        </div>
                        <div class="text-container">
                            <div class="text16">$78.00</div>
                            <div class="text17">700+ pcs</div>
                        </div>
                        <div class="trade-price-item"></div>
                        <div class="trade-price-inner"></div>
                    </div>
                    <div class="rating">
                        <div class="dot-parent">
                            <div class="dot12"></div>
                            <div class="dot13"></div>
                            <div class="bell-ross12">154 sold</div>
                            <img src="~/images/iconshopping-basket.png" class="iconshopping-basket"
                                 alt=""
                                  />

                            <div class="reviews">
                                <div class="bell-ross13">32 reviews</div>
                                <img src="~/images/iconmessage.png" class="iconmessage"
                                     alt=""
                                      />
                            </div>
                            <div class="bell-ross14">9.3</div>
                            <img src="~/images/miscrating.png" class="miscrating-icon6"
                                 alt=""
                                  />
                        </div>
                    </div>
                    <div class="title5">Weight training barbell kit - 10kg</div>
                    <div class="aviable">
                        <div class="the-largest-apple">In stock</div>
                        <img src="~/images/iconcontrolcheck.png" class="iconcontrolcheck"
                             alt=""
                              />
                    </div>
                </div>
            </div>
        </div>
        <a href="/Home/Shoppingcart">
            <div class="buttonbtn-basic" id="buttonbtnBasicContainer">
                <div class="buttonbasetext-md">
                    <div class="text18">Add to Cart</div>
                </div>
            </div>
        </a>

        @* <div class="buttonbtn-basic" id="buttonbtnBasicContainer">
            <div class="buttonbasetext-md">
                <div class="text18">Add to Cart</div>
            </div>
        </div> *@
            <img src="~/images/image-93@2x.png" class="image-93-icon" alt="" />
       
 

        <div class="powermax-fitness-gh-450p-multi-wrapper">
            <div class="powermax-fitness-gh-450p">
                PowerMax Fitness GH-450P Multi Function Home Gym/Multi Gym With
                Punching Bag
            </div>
        </div>
        <div class="div">
            <span>$</span>
            <span class="span"> </span>
            <span>469.00</span>
        </div>
        <img src="~/images/image-96@2x.png" class="image-96-icon" alt="" />

        <div class="powermax-fitness-gh-450p1">
            PowerMax Fitness GH-450P Multi Function Home Gym/Multi Gym With Punching
            Bag
        </div>
        <div class="div1">
            <span>$</span>
            <span class="span"> </span>
            <span>469.00</span>
        </div>
        <img src="~/images/image-118@2x.png" class="image-118-icon1" alt="" />

        <div class="powermax-fitness-gh-450p2">
            PowerMax Fitness GH-450P Multi Function Home Gym/Multi Gym With Punching
            Bag
        </div>
        <div class="div2">
            <span>$</span>
            <span class="span"> </span>
            <span>469.00</span>
        </div>
        <img src="~/images/image-116@2x.png" class="image-116-icon1" alt="" />

        <div class="div3">$ 469.00</div>
        <div class="powermax-fitness-gh-450p3">
            PowerMax Fitness GH-450P Multi Function Home Gym/Multi Gym With Punching
            Bag
        </div>
        <img src="~/images/image-127@2x.png" class="image-127-icon" alt="" />
    </div>

    <script>
        var buttonbtnBasicContainer = document.getElementById(
            "buttonbtnBasicContainer"
        );
        if (buttonbtnBasicContainer) {
            buttonbtnBasicContainer.addEventListener("click", function (e) {
                // Please sync "Shopping Cart" to the project
            });
        }
    </script>
</body>
</html>
