<link rel="stylesheet" href="~/css/style4.css" asp-append-version="true" />

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./shopping-cart.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Saira Condensed:wght@200;400&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" />
</head>
<body>
    <div class="shopping-cart">
        <div class="component-16-wrapper">
            <div class="component-16">
                <div class="component-16-child"></div>
                <div class="instance-parent">
                    <div class="support-parent">
                        <img src="~/images/support.png" class="support-icon" alt="" />

                        <img src="~/images/account.png" class="account-icon" alt="" />

                        <img src="~/images/saving.png" class="account-icon" alt="" />

                        <div class="product-support-parent">
                            <b class="product-support">Product Support</b>
                            <div class="with-big-discounts">
                                Up to 3 years on-site warranty available for your peace of
                                mind.
                            </div>
                        </div>
                    </div>
                    <div class="support-group">
                        <img src="~/images/support.png" class="account-icon" alt="" />

                        <img src="~/images/account.png" class="support-icon" alt="" />

                        <img src="~/images/saving.png" class="account-icon" alt="" />

                        <div class="product-support-parent">
                            <b class="product-support">Personal Account</b>
                            <div class="with-big-discounts">
                                With big discounts, free delivery and a dedicated support
                                specialist.
                            </div>
                        </div>
                    </div>
                    <div class="support-container">
                        <img src="~/images/support.png" class="account-icon" alt="" />

                        <img src="~/images/account.png" class="account-icon" alt="" />

                        <img src="~/images/saving.png" class="support-icon" alt="" />

                        <div class="product-support-parent">
                            <b class="product-support">Amazing Savings</b>
                            <div class="with-big-discounts">
                                Up to 70% off new Products, you can be sure of the best price.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shopping-cart1">Shopping Cart</div>
        <div class="summary">Summary</div>
        <div class="item">Item</div>
        <div class="estimate-shipping-and">Estimate Shipping and Tax</div>
        <div class="price8">Price</div>
        <div class="subtotal">Subtotal</div>
        <img src="~/images/frame-97.png" class="shopping-cart-child" alt="" />

        <div class="apply-discount-code-parent">
            <div class="apply-discount-code">Apply Discount Code</div>
            <img src="~/images/frame-98.png" class="frame-icon" alt="" />
        </div>
        <div class="enter-your-destination">
            Enter your destination to get a shipping estimate.
        </div>
        <div class="subtotal1">Subtotal</div>
        <div class="shipping">Shipping</div>
        <div class="tax">Tax</div>
        <div class="gst-10">GST (10%)</div>
        <div class="order-total">Order Total</div>
        <div class="div4">$650</div>
        <div class="div5">$21.00</div>
        <div class="div6">$1.91</div>
        <div class="div7">$1.91</div>
        <div class="div8">$667</div>
        @* <div class="rectangle-parent3">
            <div class="group-child2"></div>
            <div class="proceed-to-checkout" id="proceedToCheckout">
                Proceed to Checkout
            </div>
        </div> *@

        <a href="/Home/checkout">
        <div class="rectangle-parent3">
            <div class="group-child2"></div>
            <div class="proceed-to-checkout" id="proceedToCheckout">
                Proceed to Checkout
            </div>
        </div>
        </a>

        <img src="~/images/vector-18.png" class="shopping-cart-item" alt="" />

       @*  <div class="standard-rate-">
            (Standard Rate - Price may vary depending on the item/destination. TECS
            Staff will contact you.)
        </div> *@
       @*  <div class="qty">Qty</div> *@
        <div class="sportq-cement-barbell-set-adju-parent">
            <div class="sportq-cement-barbell">
                SportQ Cement Barbell Set Adjustable Weights Set Home
            </div>
            <div class="div9">
                <p class="p">$650</p>
            </div>
            <div class="div10">
                <p class="p">$650</p>
            </div>
           @*  <img src="~/images/group-108.png" class="group-icon" alt="" />

            <img src="~/images/group-115.png" class="group-child3" alt="" /> *@

            <div class="group-parent">
                <div class="rectangle-parent4">
                    <div class="group-child4"></div>
                    @* <div class="div11">1</div> *@
                </div>
                @* <img src="~/images/frame-97@2x.png" class="group-child5" alt="" /> *@

               @*  <img src="~/images/frame-98.png" class="group-child6" alt="" /> *@
            </div>
        </div>
        <div class="sportq-cement-barbell-set-adju-group">
            @* <div class="sportq-cement-barbell">
                SportQ Cement Barbell Set Adjustable Weights Set Home
            </div>
            <div class="div9">$30</div>
            <div class="div10">$30</div> *@
            @* <img src="~/images/group-108.png" class="group-icon" alt="" /> *@

            @* <img src="~/images/group-115.png" class="group-child8" alt="" />
 *@
            <div class="group-parent">
                <div class="rectangle-parent4">
                    <div class="group-child4"></div>
                   @*  <div class="div11">1</div> *@
                </div>
                @* <img src="~/images/frame-97@2x.png" class="group-child10" alt="" />

                <img src="~/images/frame-98.png" class="group-child11" alt="" /> *@
            </div>
        </div>
        <img src="~/images/vector-1.png" class="shopping-cart-inner" alt="" />

        <img src="~/images/vector-19.png" class="shopping-cart-child1" alt="" />

        @* <img class="shopping-cart-child2" alt="" src="" /> *@

       @*  <div class="continue-shopping-wrapper">
            <div class="continue-shopping">Continue Shopping</div>
        </div>
        <div class="clear-shopping-cart-wrapper">
            <div class="clear-shopping-cart">Clear Shopping Cart</div>
        </div>
        <div class="update-shopping-cart-wrapper">
            <div class="update-shopping-cart">Update Shopping Cart</div>
        </div> *@
        <img src="~/images/image-126@2x.png" class="shopping-cart-child3"
             alt=""
             />

       @*  <div class="rectangle-parent6">
            <div class="group-child12"></div>
            <img src="~/images/image-129@2x.png" class="image-129-icon1" alt="" />
        </div> *@
    </div>

    <script>
        var proceedToCheckout = document.getElementById("proceedToCheckout");
        if (proceedToCheckout) {
          proceedToCheckout.addEventListener("click", function (e) {
            // Please sync "Check Out" to the project
          });
        }
    </script>
</body>
</html>
