<link rel="stylesheet" href="~/css/style6.css" asp-append-version="true" />

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./thank-you.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Saira Condensed:wght@200;400;700&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap" />
</head>
<body>
    <div class="thank-you">
        <b class="empower-yourself-achieve-container">
            <p class="empower-yourself">Empower Yourself</p>
            <p class="achieve-more">Achieve More</p>
            <p class="gear-up-now">
                <span>Gear Up Now</span>
                <span class="span11">! </span>
            </p>
        </b>
        <div class="thank-you-inner">
            <div class="thank-you-parent">
                <div class="thank-you1">Thank you!</div>
                <div class="your-order-12649272">
                    Your order #12649272 has been placed!
                </div>
                <div class="we-sent-an">
                    We sent an email to xyz@gmail.com with your order confirmation and
                    recipt. If the email hasn’t arrived within two minites, please check
                    your spam folder to see if the email was routes there
                </div>
            </div>
        </div>
        <div class="component-16-frame">
            <div class="component-162">
                <div class="component-16-inner"></div>
                <div class="instance-container">
                    <div class="support-parent3">
                        <img src="~/images/support.png" class="support-icon6" alt="" />

                        <img src="~/images/account.png" class="account-icon6" alt="" />

                        <img src="~/images/saving.png" class="account-icon6" alt="" />

                        <div class="product-support-container">
                            <b class="product-support2">Product Support</b>
                            <div class="up-to-32">
                                Up to 3 years on-site warranty available for your peace of
                                mind.
                            </div>
                        </div>
                    </div>
                    <div class="support-parent4">
                        <img src="~/images/support.png" class="account-icon6" alt="" />

                        <img src="~/images/account.png" class="support-icon6" alt="" />

                        <img src="~/images/saving.png" class="account-icon6" alt="" />

                        <div class="product-support-container">
                            <b class="product-support2">Personal Account</b>
                            <div class="up-to-32">
                                With big discounts, free delivery and a dedicated support
                                specialist.
                            </div>
                        </div>
                    </div>
                    <div class="support-parent5">
                        <img src="~/images/support.png" class="account-icon6" alt="" />

                        <img src="~/images/account.png" class="account-icon6" alt="" />

                        <img src="~/images/saving.png" class="support-icon6" alt="" />

                        <div class="product-support-container">
                            <b class="product-support2">Amazing Savings</b>
                            <div class="up-to-32">
                                Up to 70% off new Products, you can be sure of the best price.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
